.btn-stripe-payment {
    background-color: #635bff;
    color: white;
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn-stripe-payment:hover {
    background-color: #0a2540;
    color: white;
    transform: translateY(-2px);
}

.btn-stripe-payment:disabled {
    background-color: #a3acb9;
    cursor: not-allowed;
}

.x-small {
    font-size: 0.75rem;
}
